*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Karla','sans-serif';
}


:root{
    --cyan:hsl(179, 62%, 43%);
    --bright-yellow:hsl(71, 73%, 54%);
    --grayish-blue:hsl(218, 22%, 67%);
    --light-gray:hsl(204, 43%, 93%);
}



/*** Container Styling ***/ 

.container{
    width:80%; 
    margin: 0 auto;
    padding:1rem;
}



/*** Community Styling ***/ 


.community h1{
    color:cyan;
    margin: 0 0 1rem 0;
}

.days{
    color:var(--bright-yellow);
    margin: 0 0 0.5rem 0;
}

.gain{
    color:var(--grayish-blue);
    margin: 0 0 0.5rem 0;
}

/*** Pricing Styling ***/ 

.pricing{
    background-color: var(--cyan);
    padding:1rem;
}

.pricing h1{
     font-size: 0.9rem;
     color:#fff;
     margin: 0 0 1rem 0 ;
}

.pricing span{
    font-size:1.5rem;
    color:#fff;
    margin-right: 0.5rem;
}

.p2{
    margin: 0 0 0.5rem 0;
    color:var(--light-gray);
}

.p3{
    font-size:0.8rem;
    color:var(--light-gray);
}

.btn{
    width:100%;
    padding:1rem;
    margin: 1rem auto;
    background-color:var(--bright-yellow);
    border:none;
    border-radius:10px;
    color:#fff;
    font-weight: 700;
}

/*** Why Us Styling ***/ 

.reason{
    background-color:hsla(179, 62%, 43%,0.699);
    padding:1.5rem;
}

.reason h1{
    margin-bottom: 1rem;
    color:#fff;
}

.reason p{
    color:var(--light-gray);
}


@media (min-width:700px){
    body{
       max-width: 700px;
       
    }
    .container{
        display:grid;
        grid-template-columns: 1fr 1fr;
    }
    .community{
        grid-column: span 2;
    }

    .reason{
        padding:1rem;
    }
    .pricing{
        padding:1rem;
    }
    .btn{
       margin: 2rem auto 0 auto;
    }
}