*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Karla','sans-serif';
   
}

:root{
    --Cyan:hsl(179, 62%, 43%);
    --Bright-Yellow :hsl(71, 73%, 54%);
    --Light-Gray:hsl(204, 43%, 93%);
    --Grayish-Blue:hsl(218, 22%, 67%);
    --off-cyan: hsla(179,62%,43%,0.699)
}

body{
    padding:1rem;
    background-color: var(--off-cyan);
}




.container{
    width:80%;
    margin: 10px auto;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}



/*** Community Section ***/
.community{
    background-color: white;
    padding:1rem;
    border-radius: 10px 10px 0 0;
}

.community h1{
    color : var(--Cyan);
    font-size:1rem;
    font-weight:700;
    margin: 0 0 1rem 0;
}

.days{
    color:var(--Bright-Yellow);
    font-size:0.7rem;
    font-weight:400;
    margin: 0 0 1rem 0;
}

.gain{
    color:var(--Grayish-Blue);
    font-size:0.7rem;
    font-weight:400;
    margin: 0 0 1rem 0;
}

/*** Pricing Section ***/

.pricing{
    background-color:var(--Cyan);
    color:var(--Light-Gray);
    padding:0.9rem;
}

.pricing h1{
    color:var(--Light-Gray);
    font-size:1rem;
    font-weight:700;
    margin: 0 0  1rem 0;
}

.pricing span{
    color:var(--Light-Gray);
    font-size:1.5rem;
    font-weight:700;
    margin-right:0.5rem;
}

.pricing p {
    margin-bottom:1rem;
}


.btn {
    background-color: var(--Bright-Yellow);
    width:100%;
    border:none;
    border-radius: 10px;
    padding:0.8rem;
    text-align:center;
    color: var(--Light-Gray);
}

/*** Why Us Section ***/

.reason{
    background-color: var(--off-cyan);
    padding:1rem;
    border-radius:  0 0 10px 10px;
}

.reason h1{
    color:var(--Light-Gray);
    font-size:1rem;
    margin-bottom:1rem;
}

.reason p {
    color:var(--Light-Gray);
}



@media screen and (min-width: 600px) {

    html{
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    body{
        max-width: 700px;
        position: fixed;
        top:50%;
        left:50%;
        transform: translate(-50%,-50%);
    }
    .container{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: 0.5fr 1fr;
    }
    .community{
        grid-column: span 2;
        border-radius: 10px 10px 0 0;
        padding:1rem;
    }
    .pricing{
        border-radius:  0  0  0 10px;
    }
    .reason{
        border-radius: 0 0 10px 0;
    }
}