*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Karla','sans-serif';
}


:root{
    --cyan:hsl(179, 62%, 43%);
    --bright-yellow:hsl(71, 73%, 54%);
    --grayish-blue:hsl(218, 22%, 67%);
    --light-gray:hsl(204, 43%, 93%);
}


body{
    width:100vw;
    margin:0 auto;
}

/*** Container Styling ***/ 

.container{
    width:90%;
    padding:1em;
    margin: 0 auto;
}





.community h1{
    font-size:1.2rem;
    margin: 0 0 1em 0;
    color:var(--cyan);
    font-weight:600;
}

.days{
    color:var(--bright-yellow);
    margin: 0 0 1em 0;
}

.gain{
    color:var(--grayish-blue);
    margin: 0 0 1em 0;
}


.pricing{
    background-color: var(--cyan);
    padding:1em;
    color:#fff;
}

.pricing h1{
    font-size: 1.2rem;
    margin-bottom: 1em;
}

.p2{
    font-size: 1rem;
    margin-bottom: 1em;
}

.p2 span {
    font-size: 2rem;
    margin-right: 0.2em;
}

.p3{
    font-size: 1rem;
    margin-bottom: 1em;
}

.btn{
    color:#fff;
    background-color: var(--bright-yellow);
    border:none;
    text-align: center;
    padding:1em;
    width:100%;
}


.reason{
    padding:1em;
    background-color: var(--grayish-blue);
}

.reason h1{
    font-size: 1rem;
    margin-bottom: 1em;

}


@media (min-width:594px) {
    body{
        max-width:750px;
    }
    .container{
        display:grid;
        grid-template-columns: 1fr 1fr;
    }
    .community{
        grid-column: span 2;
    }
}